/*?--------------------------------------------------------FOOTEER-----------------------------------------------------------------------------*/
footer {
    @include flex(flex, space-around, normal);
    flex-direction: row-reverse;
    background-color: black;

    div {
        a {
            display: flex;
            flex-direction: column;
        }

        ul {
            li {
                font-size: 25px;
                list-style: none;
                color: $color-secundario;
                padding-top: 10px;

                a {
                    text-decoration: none;
                    color: $color-secundario;

                }
            }
        }
        img{
            width: 100%;
        }
        
    }
}
