.fondo {
   background-color: $color-principal;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}


nav {
    div {
        background-color: black;

        ul {
            li {
                a {
                    color: white !important;
                    font-size: 25px !important;
                }
            }
        }
    }
}


.navbar {
    padding: 0;
}

.botton {
    border: 1.5px white solid;
    color: white;

    &:hover {
        background-color: rgba(190, 0, 0, 0.699);
    }

}

/*?--------------------------------------------------------HEADER TIENDA-----------------------------------------------------------------------------*/
header {
    img {
        width: 120px;
        height: 120px;
    }
}