@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Bebas Neue", sans-serif;
}

.whatsapp {
    position: fixed;
    right: 30px;
    bottom: 20px;
}
.logo-footer{
width: 100%;
height: 250px;
    
}